@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
    background-color: #0D0D0D;
    color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;   
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
}

h1 {
    font-size: clamp(40px, 4vw, 4vw);
    font-weight: 700;
    text-align: center;
    margin-bottom: 2vw;
}

button {
    background-color: #bfbfbf;
    border: #0D0D0D solid 1px;
    border-radius: 4px;
    color: #0D0D0D;
    font-weight: 700;
    margin-bottom: 3vw;
    padding: 8px;
    min-width: 140px;
    max-width: 250px;
    width: 30vw;
}

button:hover {
    background-color: #0D0D0D;
    border: #f2f2f2 solid 1px;
    color: #f2f2f2;
}

.grid-container {
    background-color: #f2f2f2;
    aspect-ratio: 1/1;
    display: flex;
    margin-bottom: 3vw;
    flex-wrap: wrap;
    width: 100%;
}

.grid-square {
    background-color: #f2f2f2;
}

.grid-square:hover {
    background-color: #595856;
}